@CHARSET "ISO-8859-1";
/*INDEX*/
html { 
	min-height: 100%; 
}
#welcome{
	background-image:url("img/background-2.jpg");
	background-size: 125%;
	background-position:center;
	background-repeat: no-repeat;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	overflow: hidden;
	margin: 0 0 0 0;
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	position: absolute;
}

#paddingTop{
	width: 100%;
	height: 20%;
	min-height: 20%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
}

#paddingBottom{
	margin: 0 0 0 0;
	width: 100%;
	height: 20%;
	min-height: 20%;
	display: block;
	position: relative;
	float:left;
}

#paddingMid{
	width: 100%;
	min-height: 60%;
	height: 60%;
	display: block;
	margin: 0 0 0 0;float:
	left;
	position:relative;
	background-image:  url("img/background-div2.png");
	background-size: contain;
	-ms-background-size:contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-repeat:repeat;
	background-position:center;
	margin: 0 0 0 0;
}

#welcomelogo{
	width: 100%;
	min-height: 60%;
	height: 100%;
	display: block;
	margin: 0 0 0 0;
	float: left;
	position:relative;
	background-image: url(img/welcome.png);
	background-size: contain;
	-ms-background-size:contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-repeat:no-repeat;
	background-position:center;
}
.offset{
	width: 100%;
	height:30%;	
	float:left;
	display: block;
	margin: 0 0 0 0;
}

#continuePage{
	width: 100%;
	height: 40%;
	display: block;
	background-image: url("img/background-div2.png");
	background-size: contain;
	-ms-background-size:contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-repeat:repeat;
	background-position:center;
	float:left;
	margin: 0 0 0 0;
}

#cont{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 25px;
	padding-top: 0.3em;
	font-color: white;
	
}

#toContinue:link{
	color: white;	
}
#toContinue:visited{
	color: white;	
}
#toContinue:hover{
	color: white;	
}
#toContinue:active{
	color: white;	
}
/*HOME*/

#homeBody{
	background-image:url("img/background-body.jpg");
	background-size:50%;
	background-repeat: repeat;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	overflow: hidden;
	margin: 0 0 0 0;
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	position: absolute;
}

#content{
	background-image:url("img/background-div.png");
	width: 63%;
	min-width: 63%;
	height: 90%;
	min-height: 90%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
	overflow-y: scroll;
	text-align:center;
	align:center;
	vertical-align:center;
}

#menu{
	background-image:url("img/background-div.png");
	width: 25%;
	height: 90%;
	min-height: 90%;
	min-width: 25%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
}

#divider{
	width: 2%;
	min-width: 2%;
	height: 90%;
	min-height: 90%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
}

.off{
	width: 5%;
	min-width: 5%;
	height: 90%;
	min-height: 90%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
}

.updown{
	height: 5%;
	min-height: 5%;
	width: 100%;
	min-width: 100%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
}

.hmenu{
	background-image:url("img/background-div2.png");
	height: 10%;
	min-height: 10%;
	width: 100%;
	min-width: 100%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
	color:white;
}

.hmenu{
	background-image:url("img/background-div2.png");
	height: 10%;
	min-height: 10%;
	width: 100%;
	min-width: 100%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
	color:white;
}
#menuoff{
	height: 3%;
	min-height: 3%;
	width: 100%;
	min-width: 100%;
	display: block;
	margin: 0 0 0 0;
	position: relative;
	float:left;
	color:white;
}
.menuFont{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 27px;
	padding-top: 0.3em;
	font-color: white;
}

#calendarContent{
	text-align: center;
}
.cal{
	width: 100px;
	height: 100px;
}

#mapStyle{
	outline: 2px;
}

/*POP OUT MAP*/
@CHARSET "ISO-8859-1";


.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.60;
	filter: alpha(opacity=80);
}

.white_content .close {
    display:block;
    text-decoration:none;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:30px;
    color:black;
    float: right;
    padding-top:0;
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
	width: 47%;
	height: 70%;
	border: 12px solid #808080;
	background-color: white;
	z-index:1002;
	overflow: auto;
	text-align: center;
}

//accordion

#contain {
	width: 98.5%;
	height: 500px;
	
}

.accordion,.accordion div,.accordion h1,.accordion p,.accordion a,.accordion img,.accordion span,.accordion em,.accordion ul,.accordion li {
	margin: 0;
	padding: 0;
	border: none;
}

/* Accordion Layout Styles */
.accordion {
	width: 98.5%;
	padding: 1px 5px 5px 5px;
	background: rgb(252,236,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,236,252,1) 0%, rgba(251,166,225,1) 74%, rgba(253,137,215,1) 99%, rgba(255,124,216,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,236,252,1)), color-stop(74%,rgba(251,166,225,1)), color-stop(99%,rgba(253,137,215,1)), color-stop(100%,rgba(255,124,216,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 74%,rgba(253,137,215,1) 99%,rgba(255,124,216,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 74%,rgba(253,137,215,1) 99%,rgba(255,124,216,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 74%,rgba(253,137,215,1) 99%,rgba(255,124,216,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 74%,rgba(253,137,215,1) 99%,rgba(255,124,216,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#headeracc{
    text-align:center;
	color: black;

}

.accordion .tab, #headeracc{
	display: block;
	height: 35px;
	margin-top: 4px;
	padding-left: 20px;
	font: bold 12px/35px Arial, sans-serif;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 0px rgba(0,0,0, .2);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: rgb(203,96,179); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 100%, rgba(219,54,164,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,96,179,1)), color-stop(50%,rgba(193,70,161,1)), color-stop(100%,rgba(168,0,119,1)), color-stop(100%,rgba(219,54,164,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 100%,rgba(219,54,164,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 100%,rgba(219,54,164,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 100%,rgba(219,54,164,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 100%,rgba(219,54,164,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */


opacity:.60;
	filter: alpha(opacity=80);


-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
}

.accordion .tab:hover,.accordion div:target .tab {
	color:white;
	text-shadow: 0px 1px 0px rgba(255,255,255, .15);
background: rgb(251,131,250); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(251,131,250,1) 0%, rgba(233,60,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,131,250,1)), color-stop(100%,rgba(233,60,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ); /* IE6-9 */


-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
}

.accordion div .content2 {
	display: none;
	margin: 5px 0;
}

.accordion div:target .content2 {
	display: block;
}

.accordion > div {
	height: 40px;
	overflow: hidden;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.accordion > div:target {
	height: 360px;
}

/* Accordion content2 Styles */
.accordion .content2 h1 {
	color: black;
	font: 18px/32px Arial, sans-serif;
}

.accordion .content2 p {
	margin: 10px 0;
	color: black;
	font: 30px Arial, sans-serif;
}

.accordion .content2 span {
	font: italic 15px Georgia, Arial, sans-serif;
	color: black;
}



.accordion .content2 em.bullet {
	width: 5px;
	height: 5px;
	margin: 0 5px;
	background: #6b8f1a;
	display: inline-block;

	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
	box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.accordion .content2 ul li {
	list-style: none;
	float: left;
	margin: 5px 10px 5px 0;
}

.accordion .content2 img {
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
	box-shadow: 2px 2px 6px rgba(0,0,0, .5);
}
